@import "tailwindcss";

@theme {
  --color-background: #f9f9f9;
  --color-text: #333;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f9f9f9;
  color: #333;
  padding: 1rem;
  line-height: 1.5;
}

.follow {
  background-color: rgb(217, 229, 239);
  padding: 5px 15px;
  border-radius: 5px;
}

.follow:hover {
  background-color: rgb(176, 197, 216);
  cursor: pointer;
}

/* Responsive Tweaks */
@media (max-width: 600px) {
  .filters_sort {
    flex-direction: column;
    align-items: stretch;
  }

  .makeComment {
    flex-direction: column;
  }
}
